In [3]:
from ift6758.ift6758.client.serving_client import *
from ift6758.ift6758.client.game_client import *

import requests

In [4]:
gl = GameClient("localhost","7777")

In [6]:
gl.serving_client.download_registry_model(model='lr-distance', version="", workspace= "duyhung2201")

Network or server error occurred: HTTPConnectionPool(host='localhost', port=7777): Max retries exceeded with url: /download_registry_model (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x00000224274757D0>: Failed to establish a new connection: [WinError 10061] Aucune connexion n’a pu être établie car l’ordinateur cible l’a expressément refusée'))

{}

In [7]:
game_id='2019020411'

In [8]:
gl.serving_client.model

'lr-shot-distance'

In [9]:
df, updated_events = gl.ping_game(game_id)

Network or server error occurred: HTTPConnectionPool(host='localhost', port=7777): Max retries exceeded with url: /predict (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x00000224274F4D50>: Failed to establish a new connection: [WinError 10061] Aucune connexion n’a pu être établie car l’ordinateur cible l’a expressément refusée'))

In [10]:
df.shape, updated_events.shape

((0, 0), (0, 0))

In [11]:
df

Empty DataFrame
Columns: []
Index: []

In [12]:
updated_events

Empty DataFrame
Columns: []
Index: []